@charset "utf-8";
@import "normalize";
@import "skeleton";

.header-text {
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  h1 {
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: inherit;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 7rem;
  }
}
.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/images/lake.png) no-repeat;
    background-size: cover;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(/images/lake.png) #000 no-repeat center center fixed;
    }
    .background-video {
        display: none;
    }
}

nav {
  text-align: right;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  a {
    text-decoration: none;
    color: rgb(85,98,112);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 3px;
    &:hover {
      color: darken(rgb(85,98,112), 50);
    }
  }
}

// .triangle{
//   animation: triangle 200s infinite ease-in-out;
//   	width: 0;
// 	height: 0;
// 	border-left: 20px solid transparent;
// 	border-right: 20px solid transparent;
// 	border-top: 30px solid #f7d53d;
// }
// @keyframes triangle{
//   @for $j from 1 through 99{
//     #{percentage($j)/100}{
// border-top-color: rgba(random(255),random(255),random(255),random(100)/100);
//     }
//   }
// }
