@charset "utf-8";
@import "normalize";
@import "skeleton";

.header-text {
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  h1 {
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: inherit;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 7rem;
  }
}
.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/images/lake.png) no-repeat;
    background-size: cover;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(/images/lake.png) #000 no-repeat center center fixed;
    }
    .background-video {
        display: none;
    }
}

nav {
  text-align: right;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  a {
    text-decoration: none;
    color: rgb(85,98,112);
    &:hover {
      color: darken(rgb(85,98,112), 10);
    }
  }
  a:not(.text-logo) {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 3px;
  }
  a.text-logo {
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: left;
    line-height: 1;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
  }
}
body.about nav a {
  color: rgb(255,0,102);
  &:hover {
    color: darken(rgb(255,0,102), 10);
  }
}
body.portfolio nav a {
  color: rgb(251,184,41);
  &:hover {
    color: darken(rgb(251,184,41), 10);
  }
}
body.contact nav a {
  color: rgb(173,216,199);
  &:hover {
    color: darken(rgb(173,216,199), 10);
  }
}

.triangle {
  animation: triangle-animation 500s infinite ease-in-out;
  width: 0;
	height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  &.one {
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 600px solid rgba(173,216,199,0.1);
  }
  &.two {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid rgba(173,216,199,0.1);
  }
  &.three {
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 400px solid rgba(173,216,199,0.1);
  }
}

@keyframes triangle-animation {
  @for $j from 1 through 99{
    #{percentage($j)/100}{
border-bottom-color: rgba(random(255),random(255),random(255),0.1);
    }
  }
}
