---
title: About | Emily Porta
---

<div class="about-text">
  <p>Hey there. I'm Emily. 28, <%= link_to 'Hogtown', 'http://www.blogto.com/city/2013/10/how_toronto_got_the_nickname_hogtown/' %>. So far in my <%= link_to 'life', 'https://ca.linkedin.com/in/emilyporta' %> I've been a Retail Sales Associate, a Librarian, a Web Developer, and a Scrum Master. These days, You can find me working as a Scrum Master and women in tech advocate over at the inimitable <%= link_to 'Rangle.io', 'http://rangle.io' %>.</p>
  <p>Start a <%= link_to 'conversation', 'https://twitter.com/agentemily' %> with me about:
  <ul>
    <li><i class="twa twa-space-invader"></i> Battlestar Galactica</li>
    <li><i class="twa twa-cat2"></i> Cats</li>
    <li><i class="twa twa-bread"></i> Grilled Cheese Preferences</li>
    <li><i class="twa twa-money-with-wings"></i> The Shrinking Middle Class</li>
  </ul>
  ...maybe not in that order.
  </p>
</div>

<div class="triangle one"></div>
<div class="triangle two"></div>
<div class="triangle three"></div>
